/*BASIC STYLES*/

/* PALETTE
    * red: #80 00 00
    * yellow: #FF CB 05
    * blue: #00 27 4C
    * white: #FF FF FF
    * dark white: #DD DD DD
    * black: #00 00 00
    * light black: #44 44 44
*/
        
body {
    color: black;
    background-color: transparent;
    font: 100 12px Arial, sans-serif;

    margin: 0px;
    padding: 0px;
}



h2 {
    font: normal normal 200 24px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


#home-header {
    white-space: nowrap;
    
    color: white;
    
    position: absolute;

    z-index: 10;
    
    text-align: center;
    vertical-align: top;
    
    display: inline-block;
    
    top: 30%;
    left: 25%;
}


#home-header h1 {
    
    font: normal normal 600 80px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding: 0px 0px;

}

#home-header h2 {
    font: normal normal 500 30px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding: 20px 0px 40px 0px;
}

#home-header a {
    
    color: white;
    font: normal normal 500 25px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-decoration: none;
    
    border-radius: 35px;
    border: medium solid white;
    
    padding: 16px 30px;
}

#home-header a:hover {
    -webkit-animation: fade-in 0.3s forwards 1;
    animation: fade-in 0.3s forwards 1;
    
}

@-webkit-keyframes fade-in {
    from { background: transparent; color: white; }
    to { background: white; color: #800000; }
}

@keyframes fade-in {
    from { background: transparent; color: white; }
    to { background: white; color: #800000; }
}

.first-letter {
    font-size: 130%;
}


.home-carousel {
    filter: brightness(60%) saturate(80%) sepia(10%);
}




.section-title {
    z-index: 3;

    float: left;

    border-bottom: solid thick #FFCB05;
}


.buffer {
    background-color: transparent;
    z-index: -1;
    opacity: 1.0;

    width: 100%;
    height: 60px;
}






/*SECTION STYLES*/

section {
    background: transparent;
    padding-top: 60px;

    height: auto;
    width: 100%;

    display: flex;
}

.section-box {
    background: white;
    box-shadow: 0px 0px 2px 2px #EEEEEE;
    
    height: inherit;
    width: 80%;

    margin: auto auto;
    padding: 15px 0px 15px 0px;
    
    display: flex;
    flex-direction: column;
}

.section-box div {
    margin: 30px;
}

#sections {
    z-index: 0;
    
    background: transparent;
    
    width: 100%;
    
    display: none;
    flex-direction: column;
            
    justify-content: center;
    align-items: center;
}

.outline {
    display: flex;
}

.outline#child {
    flex-shrink: 0;
}

.img-card {
    margin: 10px;
}

#president h3 {
    font: 500;
    
    text-align: center;
}

#president p {
    text-align: left;
}

#president img {
    max-height: 1000px;
    max-width: 1000px;
    min-height: 500px;
    min-width: 300px;
    
    height: auto;
    width: 100%;
    
    object-fit: cover;
}



/*TABLE STYLES*/

#pillars th,td {
    padding: 5px 10px;
    
    overflow: hidden;
}


#pillars table {
    margin: 20px;
    
    table-layout: fixed;
    width: calc(100% - 40px);
}


#president table {
    table-layout: fixed;
    width: calc(100% - 40px);
    height: auto;
}

#president td {
    width: 100%;
    height: auto;
    
    overflow: hidden;
    
    vertical-align: top;
}







/*NAVBAR STYLES*/
#navbar {
    z-index: 1;
    
    box-shadow: 0px 0px 5px 3px #AAAAAA;
    
    background-color: white;
    
    align-content: center;
    overflow: hidden;
    margin: 0;
    
    position: fixed;
    top: 0px;
    left: 0px;

    height: 60px;
    width: 100%;
    
    display: none;
}

#navbar img {
    float: left;
    object-fit: contain;
}

#navbar a {
    color: black;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;

    text-align: center;
    float: right;
    padding: 20px;
}

#navbar a:hover {
    color: #FFCB05;
}

#navbar a:active {
    color: #FFCB05;
}




/*LOADER STYLES*/

#loader {
    z-index: 1;
    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #880000;
    
    width: 120px;
    height: 120px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 /*Add animation to "page content"*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}






/*CAROUSEL STYLES*/

.carousel-item {
        
    z-index: 0;
    
    display: block;
    
    overflow: hidden;
    
}

#home .carousel-item {    
    width: 100%;
    height: 700px;
    
}


.main-carousel-slide {
    vertical-align: top;
    
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    
    overflow: hidden;
    
    background-color: transparent;
    box-shadow: 0px 0px 5px 3px #AAAAAA;
    
    align-content: center;
}

.pillars-carousel-slide {
    width: 100%;
    height: 0;
    
    margin: 0;
    padding-bottom: 50%;
}

#pillars .carousel-inner {
    width: 100%;
    height: 220px;
    
    margin: 0;
    padding: 0;
    
    background: #000000;
    /*align-items: center;
    justify-content: center;*/
    
    overflow: hidden;
}

#pillars .carousel-item {
    position: absolute;
    
    margin: 0;
    padding: 0;
}


#pillars img {
    margin: 0;
    padding: 0;
    
    object-fit: cover;
    
    /*animation: marqueeX 5s linear infinite alternate;*/
}



.home-carousel img {
    z-index: -1;
    animation: marqueeY 10s linear infinite alternate;
}

@-webkit-keyframes marqueeX {
    from   { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-10%); }
}

@-webkit-keyframes marqueeY {
    from   { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-10%); }
}

@keyframes marqueeX {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-10%); }
}


@keyframes marqueeY {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-10%); }
}



.carousel-item {
  position: relative;
  display: none;
  float: left;
    
  width: 100%;
    
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}






