/*BASIC STYLES*/

/* PALETTE
    * red: #80 00 00
    * yellow: #FF CB 05
    * blue: #00 27 4C
    * white: #FF FF FF
    * dark white: #DD DD DD
    * black: #00 00 00
    * light black: #44 44 44
*/
        
body {
    color: black;
    background-color: transparent;
    font: 100 12px Arial, sans-serif;

    margin: 0px;
    padding: 0px;
}



h2 {
    font: normal normal 200 24px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}





/*HOME STYLES*/



#home .carousel-item {
    width: 100%;
    height: 700px;
    
}


.home-section {
    z-index: 0;
        
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 45%;
    
    overflow: hidden;
    
    background-color: transparent;
    box-shadow: 0px 0px 5px 3px #AAAAAA;
    
    align-content: center;
}

.home-carousel {
    width: 100%;
    height: 100%;
}



#home-header {
    z-index: -1;
    
    white-space: nowrap;
    
    background: transparent;
    color: white;
    
    position: absolute;
    
    top: calc(45%)
    
    width: 100%;
    height: 100%;

    z-index: 9;
    
    width: 100%;
    height: 100%;
    
    padding-top: 10%;
    
    text-align: center;
    vertical-align: center;
}


#home-header h1 {
}

@media screen and (min-width: 900px) {
  div#home-header h1 {
    font: normal normal 100 650% Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 100;
    padding: 0px 0px;
	margin: auto;
  }
}

@media screen and (max-width: 899px) {
  div#home-header h1 {
    font: normal normal 100 350% Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 100;
    padding: 0px 0px;
	margin: auto;
  }
}

#home-header h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 0px; /* This creates some space between the element and the border. */
	padding-bottom: 0px;
    border-bottom: 1px solid white; /* This creates the border. Replace black with whatever color you want. */
}

#home-header h2 {

}

@media screen and (min-width: 900px) {
  div#home-header h2 {
    font: normal normal 500 175% Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding: 20px 0px 100px 0px;
	margin: auto;
  }
}

@media screen and (max-width: 899px) {
  div#home-header h2 {
    font: normal normal 500 100% Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding: 20px 0px 100px 0px;
	margin: auto;
  }
}

#home-header a {
    
    color: white;
    font: normal normal 500 25px Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-decoration: none;
    
    border-radius: 35px;
    border: medium solid white;
    
    padding: 16px 30px;
}

/*#home-header hr {
	height: 1px;
	width: 10%;
	color: white;
	background-color: white;
	padding: 20px 0px 0px 0px; 
}*/

#home-header a:hover {
    -webkit-animation: home-header-a-fade-in 0.3s forwards 1;
    animation: home-header-a-fade-in 0.3s forwards 1;
    
}

@-webkit-keyframes home-header-a-fade-in {
    from { background: transparent; color: white; }
    to { background: white; color: #800000; }
}

@keyframes home-header-a-fade-in {
    from { background: transparent; color: white; }
    to { background: white; color: #800000; }
}

.first-letter {
    font-size: 130%;
}


.home-carousel {
    filter: brightness(60%) saturate(80%) sepia(10%);
}




.section-title {
    z-index: 3;

    float: left;

    border-bottom: solid thick #FFCB05;
}


.buffer- {
    background-color: transparent;
    z-index: -1;
    opacity: 1.0;

    width: 100%;
}

.buffer-mini {
	height: 30px;
}

.buffer-small {
    height: 60px;
}

.buffer-medium {
    height: 60px;
}

.buffer-large {
    height: 150px;
}





/*SECTION STYLES*/

section {
    background: transparent;
    padding-top: 60px;

    height: auto;
    width: 100%;

    display: flex;
}

.section-box {
    background: white;
    /*box-shadow: 0px 0px 2px 2px #EEEEEE;*/
    
    height: inherit;
    width: 80%;

    margin: auto auto;
    padding: 15px 0px 15px 0px;
    
    display: flex;
    flex-direction: column;
}

#sections {
    z-index: 0;
    
    background: transparent;
    
    width: 100%;
    min-width: 900px;
    
    display: none;
    flex-direction: column;
            
    justify-content: center;
    align-items: center;
}

.h-indented {
    margin-left: 30px;
    margin-right: 30px;
}

.v-indented {
    margin-top: 30px;
    margin-bottom: 30px;
}

.indented {
    margin: 30px;
}

.recruitmentsched {
    margin: 0px 30px 30px;
}


.outline {
    display: flex;
}

.outline#child {
    flex-shrink: 0;
}

.img-card {
    margin: 10px;
    
    border-radius: 2px;
    
    box-shadow: 0px 0px 2px 1px #AAAAAA;
}

#president h3 {
    font: 500;
    
    text-align: center;
}

#president p {
    text-align: left;
}

#president img {
    max-height: 1000px;
    max-width: 1000px;
    min-height: 500px;
    min-width: 300px;
    
    height: auto;
    width: 100%;
    
    object-fit: cover;
}

.event-divider {
	width: 65%;
	margin: 0px auto;
	background-color: #FFCB05;

}

#schedule h3 {
	font-size: 32px;
    font-weight: 200;
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#schedule h4 {
    color: #800000;
    font-size: 17px;
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 900;
}

#schedule a {
	color: black;
}

#schedule a:hover {
	color: #FFCB05;
	
}

#schedule p {
    color: #888888;
	margin-bottom: 5px;
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	font-size: 15px;
}

#schedule p2 {
    font-style: italic;
    margin: 0px;
    font-size: 13px;
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.schedule-event {
    /*margin: 30px 20%;*/
    margin: 30px auto;
    padding: 20px;
    max-width: 700px;
    
    display: flex;
    
}

.schedule-event img {
    margin-right: 20px;
    
    height: 150px;
    width: 150px;
    
    overflow: hidden;
    
    object-fit: cover;
    
    border-radius: 200px;
}

.email-list a {
    
    color: white;
    text-decoration: none;
    font-weight: 600;
    
    /*
    color: white;
    font: normal normal 500 25px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-decoration: none;
    */
        
    background-color: #800000;
    
    border-radius: 35px;
    
    text-align: center;
    
    width: 400px;
    padding: 16px 30px;
    margin: auto auto;

}

.email-list {
    
    margin: 30px auto 10px;
    width: 700px;
    
    
    display: flex;
}

.email-list a:hover {
    -webkit-animation: email-list-a-fade-in 0.3s forwards 1;
    animation: email-list-a-fade-in 0.3s forwards 1;
    
}

@-webkit-keyframes email-list-a-fade-in {
    from { background: #800000; color: white; text-decoration: none; }
    to { background: #FFCB05; color: white; text-decoration: none; }
}

@keyframes email-list-a-fade-in {
    from { background: #800000; color: white; text-decoration: none; }
    to { background: #FFCB05; color: white; text-decoration: none; }
}





.schedule-desc {
    width: 500px;
}

/*TABLE STYLES*/

#pillars td {
    overflow: hidden;
}



#pillars table {
    table-layout: fixed;
    width: 100%;
}


#president table {
    table-layout: fixed;
    width: calc(100% - 40px);
    height: auto;
}

#president td {
    width: 100%;
    height: auto;
    
    overflow: hidden;
    
    vertical-align: top;
}







/*NAVBAR STYLES*/

#navbar {
    z-index: 1;
    
    box-shadow: 0px 0px 5px 3px #AAAAAA;
    
    background-color: white;
    
    align-content: center;
    overflow: hidden;
    margin: 0;
    
    position: fixed;
    top: 0px;
    left: 0px;

    height: 60px;
    width: 100%;
    
    display: none;
}

#navbar img {
    float: left;
    object-fit: contain;
	padding-top: 0px;
}

.navbar-right {
    color: black;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
	
    text-align: center;
    float: right;
    padding: 19px 20px 20px;
}

.navbar-right:hover {
    color: #FFCB05;
}

.navbar-right:active {
    color: #FFCB05;
}




/*FOOTER STYLES*/

#footer {
    width: 100%;
    height: 150px;
    
    background: transparent;
    
    box-shadow: 0px 0px 5px 3px #AAAAAA;
    
    text-align: center;
}


.fa {
    z-index: 10;
    
    background-color: transparent;
    color: black;
    font-size: 30px;
    
    text-align: center;
    text-decoration: none;
    
    border-radius: 50%;
    border: medium solid black;
    
    width: 32px;
    height: 32px;
    
    padding: 5px;
    margin: 5px 2px;
        
}

.fa:hover {
    
    text-decoration: none;
    
    -webkit-animation: fa-fade-in 0.2s forwards 1;
    animation: fa-fade-in 0.2s forwards 1;
}

@-webkit-keyframes fa-fade-in {
    from { background: transparent; color: black; border-color: black; }
    to { background: white; color: #800000; border-color: #800000; }
}

@keyframes fa-fade-in {
    from { background: transparent; color: black; border-color: black; }
    to { background: white; color: #800000; border-color: #800000; }
}









/*LOADER STYLES*/

#loader {
    z-index: 1;
    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #880000;
    
    width: 120px;
    height: 120px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 /*Add animation to "page content"*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}






/*PILLARS STYLES*/



.pillars-carousel {
    background-color: transparent;
    box-shadow: 0px 0px 5px 3px #AAAAAA;
}

#pillars .carousel-inner {
    position: relative;
    
    width: 100%;
    height: 0;
    
    margin: 0;
    padding-bottom: 60%;
    
    overflow: hidden;
}

#pillars .carousel-item {
    position: absolute;
    
    margin: 0;
    padding: 0;
}





/*CAROUSEL STYLES*/

#pillars img {
    margin: 0;
    padding: 0;
    
    object-fit: cover;
    
    /*animation: marqueeX 5s linear infinite alternate;*/
}

#home img {
    z-index: -1;
    animation: marqueeY 10s linear infinite alternate;
}

@-webkit-keyframes marqueeX {
    from   { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-10%); }
}

@-webkit-keyframes marqueeY {
    from   { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-10%); }
}

@keyframes marqueeX {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-10%); }
}


@keyframes marqueeY {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-10%); }
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  overflow: hidden;
    
  width: 100%;
    
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}


.carousel-indicators {
    z-index: 9;
}




/*BROTHERS PAGE STYLES*/

/*EBOARD CARD STYLES*/

.pc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    text-align: center;
        
    width: 100%;
}

.eboard-card {
    box-shadow: 0px 0px 5px 3px #AAAAAA;
    border-radius: 2px;
    
    width: 300px;
    height: 550px;
    
    margin: 20px;
}

.eboard-card img {
    box-shadow: 0px 0px 2px 1px #AAAAAA;
    border-radius: 2px;
    
    width: 200px;
    height: 200px;
    
    margin: 50px 50px 0px 50px;
    
    object-fit: cover;
}

.eboard-card h4,h5 {
    text-align: center;
    
    margin: 10px;
}

.eboard-card h5 {
    color: #AAAAAA;
    font-size: 14px;
}

.eboard-card a {
    margin: 5px;
}

.eboard-card-textbox {
    width: 260px;
    height: 200px;
    
    font-size: 12px;
    
    text-align: left;

    line-height: 120%;
    margin: 5px 20px 20px 20px;
}

.eboard-card-footer {
    text-align: center;
    align-content: center;
}


/*BROTHER CARD STYLES*/

.brother-card {
    box-shadow: 0px 0px 5px 3px #AAAAAA;
    border-radius: 2px;
    
    width: 200px;
    height: 300px;
    
    margin: 20px;
}

.brother-card img {
    box-shadow: 0px 0px 2px 1px #AAAAAA;
    border-radius: 2px;
    
    width: 150px;
    height: 150px;
    
    margin: 25px 25px 0px 25px;
    
    object-fit: cover;
}

.brother-card h4 {
    font-size: 12px;
    
    text-align: center;
    
    margin: 7px;
}

.brother-card h5 {
    color: #AAAAAA;
    
    font-size: 10px;
    
    text-align: center;
    
    margin: 7px;
}

.brother-card hr {
    width: 87%;
}

.brother-card-footer {
    text-align: center;
    align-content: center;
    
    vertical-align: center;
}

